<!DOCTYPE html>
<html>
    <head>
        <title>{{dispatch.location}}</title>
        {% include "resources.html" %}
        {% load static from staticfiles %}
        <meta name="layout" content="mobile"/>          
    </head>

    <body>      
        <div id="map_page" data-role="page" class="map_page" style="height:100%; width:100%;">
            <div data-theme="c" data-role="header">
                <a href="{% url dispatches %}"
                data-role="button" 
                data-icon="arrow-l"
                style="z-index:1"
                >TFDD.co</a>
                <div class="location_address">
                    {{dispatch.location}}
                </div>

            </div><!-- end of header -->

            <div id="map_content"
                 data-role="content" 
            </div>
            
        </div>


<script type="text/javascript">

function setDispatch(dispatch_location){

    map.setCenter(dispatch_location);

    var marker = new google.maps.Marker({
        map: map,
        position: dispatch_location
    });
    
    var location_info="{{dispatch.call_type_desc}}</br>{{dispatch.location}}</br>Map Page: {{dispatch.map_page}}";
    
    var infowindow = new google.maps.InfoWindow({
        {% if user.is_authenticated  %}
            content: location_info
        {% else %}
            {% if dispatch.call_type not in dispatch.MEDICAL_CALL_TYPES or user.is_superuser %}
                content: location_info
            {% else %}    
                content: "Please login for location information"
            {% endif %}
        {% endif %}
        
    });
    
    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
    });
     
    infowindow.open(map,marker);
  
};

  
function setupMap(address) {
        
    console.log("setupMap");
    if (map == null) {
        console.log("null");
        map = new google.maps.Map(document.getElementById("map_content"), dispatchMapOptions);
        google.maps.event.addListener(map, 'center_changed', function() {
            window.setTimeout(function() {
                google.maps.event.trigger(map, 'resize');
                map_center = map.getCenter();
                getHydrants(dspLocation = map_center, limit = 15, offset = 0);
            }, 20);
        });
    }
    
    tulsaGeocode(address,setDispatch);
    
};


// Initialize the map
$(document).bind('pageinit', function() {
    if (map == null) {
        {% if user.is_authenticated  %}
            setupMap("{{dispatch.location}}");        
        {% else %}
            {% if dispatch.call_type not in dispatch.MEDICAL_CALL_TYPES or user.is_superuser %}
                setupMap("{{dispatch.location}}");
            {% else %}    
                setupMap("Tulsa,OK");
            {% endif %}
        {% endif %}
        }
});

</script>
</body>
</html>
