<!DOCTYPE html>
<html>
    <head>
        <title>{{dispatch.location}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "resources.html" %}
        {% load static from staticfiles %}
        <meta name="layout" content="mobile"/>          
    </head>

    <body>      
        <div id="details" data-role="page" class="details-page" style="height:100%; width:100%;">
            <div data-theme="c" data-role="header">
                <a href={% if user.is_authenticated  %} "#" {% else %}"{% url dispatches %}"{% endif %} 
                data-role="button" 
                data-rel="back" 
                data-icon="arrow-l"
                >Back</a>
                <div class="location_address">
                    {{dispatch.location}}
                </div>

            </div><!-- end of header -->


            <div id="map_content"
                 data-role="content" 
                 data-theme="a">
                
                <div id="map_content">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>


<script type="text/javascript">
var map,
hydrant_markers=[];

function setDispatch(dispatch_location){

    map.setCenter(dispatch_location);

    var marker = new google.maps.Marker({
        map: map,
        position: dispatch_location
    });
    
    var location_info="{{dispatch.call_type_desc}}</br>{{dispatch.location}}</br>Map Page: {{dispatch.map_page}}";
    
    var infowindow = new google.maps.InfoWindow({
        {% if user.is_authenticated  %}
            content: location_info
        {% else %}
            {% if dispatch.call_type not in dispatch.MEDICAL_CALL_TYPES or user.is_superuser %}
                content: location_info
            {% else %}    
                content: "Please login for location information"
            {% endif %}
        {% endif %}
        
            });
    
     google.maps.event.addListener(marker, 'click', function() {
       infowindow.open(map,marker);
     });
     
    window.setTimeout(function(){infowindow.open(map,marker);},200);
  
};

  
function setupMap(address) {

    
    map = new google.maps.Map(document.getElementById("map_canvas"), dispatchMapOptions);
    
    google.maps.event.addListener(map, 'center_changed', function() {
      window.setTimeout(function() {
        getHydrants(limit=20,offset=20);
      }, 200);
    });
    
    tulsaGeocode(address,setDispatch);
    
};


// Initialize the map
$(document).bind('pageinit', function() {
    if (map == null) {
        {% if user.is_authenticated  %}
            setupMap("{{dispatch.location}}");        
        {% else %}
            {% if dispatch.call_type not in dispatch.MEDICAL_CALL_TYPES or user.is_superuser %}
                setupMap("{{dispatch.location}}");
            {% else %}    
                setupMap("Tulsa,OK");
            {% endif %}
        {% endif %}
        }
});

</script>

    </body>
</html>
