<!DOCTYPE html>
<html>
    <head>
        <title>location</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "resources.html" %}
        {% load static from staticfiles %}
        <meta name="layout" content="mobile"/>          
    </head>

    <body>      
        <div id="details" data-role="page" class="details-page" style="height:100%; width:100%;">
            <div data-theme="c" data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
                <div class="location_address">
                    {{dispatch.location}}
                </div>

            </div><!-- end of header -->


            <div data-role="content" id="map_content" data-theme="a">
                <div id="map_content">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript"  src="http://maps.google.com/maps/api/js?key=AIzaSyACLgyLAksGCI7Y4fJxrtHGR2qb2oQBc5U&sensor=false"></script>

<script type="text/javascript">
// 'tulsa 36.1539,-95.9925'
var map,
sw=new google.maps.LatLng(35.93131670856903, -96.141357421875),
ne=new google.maps.LatLng(36.26199220445664, -95.701904296875),
geocoder = new google.maps.Geocoder(),
tulsaBounds= new google.maps.LatLngBounds(sw,ne),
dispatchZoom=14,
hydrant_markers=[],
boundary_url=["http://oklahomadata.org/boundary/1.0/point/?near=",
"lat",",","long",",500m&sets=hydrants&?format=jsonp&callback=?"];

function Hydrant_Info(hydrant_metadata){
    response=[]
    response[0]=hydrant_metadata.ADDRESS
    response[1]="FLOW: "+hydrant_metadata.FLOW
    response[2]="HYDRANT ID: "+hydrant_metadata.HYDRANT_ID
    response[3]="DATE_INSPE: "+hydrant_metadata.DATE_INSPE
    response[4]="TYPE: "+hydrant_metadata.TYPE+" "+hydrant_metadata.TYPE0
    response[5]="VALVE SIZE: "+hydrant_metadata.VALVE_SIZE
    response[6]="VALVE TYPE: "+hydrant_metadata.VALVE_TYPE
    return response.join("</br>")    
}

function hydrant_click(hydrant_marker,hydrant){
    var infowindow = new google.maps.InfoWindow({
         content: Hydrant_Info(hydrant),
         position:hydrant_marker.LatLng,                     
     });
    google.maps.event.addListener(hydrant_marker, 'click',
     function() {
      infowindow.open(map,hydrant_marker);
    });
}
function getHydrants(){
    mapLatlng=map.getCenter();
    boundary_url[1]=mapLatlng.lat();
    boundary_url[3]=mapLatlng.lng();   
    $.ajax({
        url:boundary_url.join(""),  
        dataType:"json",
        success:function(data){
            if (data.meta.total_count>0){
                hydrants=data.objects;
                for (var index in hydrants){
                    hydrant=hydrants[index].metadata
                    var hydLatLng=new google.maps.LatLng(
                        hydrant.LATITUDE,
                        hydrant.LONGITUDE
                        );
                    var hyd_marker = new google.maps.Marker({
                        map: map,
                        position: hydLatLng,
                        icon:"{% static "img/hydrant.png" %}"                    
                    });

                    hydrant_click(hyd_marker,hydrant);
                }
            }
        },
        error:function(data){
           
        }
    });
};


function tulsaGeocode(address,callback){

    geocoder.geocode( {
        'address': address,
        'bounds':tulsaBounds,
        }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            result_location=results[0].geometry.location;
            if (tulsaBounds.contains(result_location)){
               callback(results[0].geometry.location);
                
            } else {
                geocoder.geocode({
                   'address': address+" Tulsa, OK",
                   'bounds':tulsaBounds, 
               }, function(results, status) {
               if (status == google.maps.GeocoderStatus.OK) {
                   callback(results[0].geometry.location);
               } 

            });
        }
    }
    });
};


function setDispatch(dispatch_location){

    var marker = new google.maps.Marker({
        map: map,
        position: dispatch_location
    });
    
    var infowindow = new google.maps.InfoWindow({
         content: "{{dispatch.call_type_desc}}</br>{{dispatch.location}}</br>Map Page: {{dispatch.map_page}}"
     });
     
     infowindow.open(map,marker);
 
     google.maps.event.addListener(marker, 'click', function() {
       infowindow.open(map,marker);
     });
     
    map.setCenter(dispatch_location);
  
};

  
function setupMap() {
    var mapOptions = {
      zoom: dispatchZoom,
      center: tulsaBounds.getCenter(),
      overviewMapControl: true,
      zoomControl: true,
      zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL,
          position: google.maps.ControlPosition.LEFT_TOP
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    google.maps.event.addListener(map, 'center_changed', function() {
      window.setTimeout(function() {
        getHydrants();;
      }, 200);
    });
    
    tulsaGeocode("{{dispatch.location}}",setDispatch);
    
};


// Initialize the map
$(document).bind('pageinit', function() {
    if (map == null) {
        setupMap("{{dispatch.location}}");
        }
});

</script>

    </body>
</html>
