{% spaceless %}

<!DOCTYPE html> 
<html>
<head>
    <title>{% block title %}Tulsa Fire Dispatch{% endblock %}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    
    {% include "resources.html" %}
    
    {% load static from staticfiles %}      
</head>
<body>
    <div class="dispatch_page" data-role="page"  >
            
        <div id="tfdd_header" data-role="header" data-position="fixed">
                <div class="tfdd_logo">
                    <img  src="{% static "img/logo.png" %}" alt="Tulsa Fire Dept. Dispatches" />
                </div>
                <a href="{% url about %}"
                    data-icon="info" 
                    data-transition="flip"
                    class="ui-btn-right">About</a>
                    
            <div data-role="navbar" >
                <ul>
                    <li><a href="{% url dispatches %}" 
                        data-transition="none"
                        >Dispatches</a></li>
                                            
                    {% if user.is_authenticated %}
                    <li><a href="{% url following %}"
                        data-transition="none" 
                        >Following</a></li>
                        
                    <li><a href="{% url settings %}"
                        data-transition="none"
                        >Settings</a>
                    </li>

                    {% else %}
                    <li><a href="{% url login %}"
                        data-transition="none"
                        data-prefetch 
                        >Login</a></li>
                    {% endif %}

                </ul>
            </div><!-- /navbar -->
            
          
        </div><!--  /header -->


        <div data-role="content">
            {% if user.is_authenticated %}
                <div class="polling_message">
                     Listening for Dispatches
                </div>

                <div class="view_port">
                    <div class="cylon_eye"></div>
                </div>
            {% endif %}  


            <div class='messages'>
                {% comment %}
                {% if user.is_authenticated %}
                    {% if not user.profile.email_verified %}
                    <p>Please verify your email</p>
                    {% endif %}
                    {% if user.profile.phone and not user.profile.phone_verified %}
                    <p>Please verify your phone number</p>
                    {% endif %}
                {% endif %}
                {% endcomment %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>    <!-- End of messages -->
            
            
            
            {% block content %}
            <p> Content goes here </p>
            {% endblock %}

        </div>    <!-- End of content -->
        
    </div><!-- End of page -->

{% if user.is_authenticated %}

<script>


$(document).bind('pagebeforeshow',function() {

    SchedulePositionCheck(500);
    
});

$(document).bind('pageinit',function() {

    setInterval(function() {UpdateCheck();}, 3000);

    $(window).scroll(function(event) {scrollHappens=true;});
        
    SchedulePositionCheck(500);

});//end of page init
   
    
</script>
{% endif %}

</body>
</html>{% endspaceless %}
