{% spaceless %}

<!DOCTYPE html> 
<html>
<head>
    <title>{% block title %}Tulsa Fire Dispatch{% endblock %}</title> 
    {% include "resources.html" %}
    {% load static from staticfiles %}
          
</head>
<body>

    <div id="dispatch_page" class="dispatch_page" data-role="page" >
            
        <div id="tfdd_header" data-role="header" data-position="fixed">
                <div class="tfdd_logo">
                    <img  src="{% static "img/logo.png" %}" alt="Tulsa Fire Dept. Dispatches" />
                </div>
                <a href="{% url about %}"
                    data-icon="info" 
                    data-transition="flip"
                    class="ui-btn-right">About
                </a>       
                <div data-role="navbar" >
                    <ul>
                        <li><a href="{% url dispatches %}" 
                            data-transition="none"
                            >Dispatches</a></li>
                                            
                        {% if user.is_authenticated %}
                        <li><a href="{% url following %}"
                            data-transition="none" 
                            >Following</a></li>
                        
                        <li><a href="{% url settings %}"
                            data-transition="none"
                            >Settings</a>
                        </li>

                        {% else %}
                        <li><a href="{% url login %}"
                            data-transition="none"
                            data-prefetch 
                            >Login</a></li>
                        {% endif %}

                    </ul>
                </div><!-- /navbar -->
        </div><!--  /header -->


        <div data-role="content" >

            <div class='messages'>
                {% comment %}
                {% if user.is_authenticated %}
                    {% if not user.profile.email_verified %}
                    <p>Please verify your email</p>
                    {% endif %}
                    {% if user.profile.phone and not user.profile.phone_verified %}
                    <p>Please verify your phone number</p>
                    {% endif %}
                {% endif %}
                {% endcomment %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>    <!-- End of messages -->
            
            
            
            {% block content %}
            <p> Content goes here </p>
            {% endblock %}

        </div>    <!-- End of content -->
    
    </div><!-- End of page -->
    
    {% include "map_page.html" %}


{% if user.is_authenticated %}
<script>
//init the map
map = map || new google.maps.Map(document.getElementById("map_content"), dispatchMapOptions);

function init_map_links(){
    
    $("abbr.timeago").timeago();  
               
    $("a.map-link").on('tap', function(event) {
        
        var busy=busy||true;
        
        console.log("map click");
        
        event.preventDefault();
        dispatch_address=$(this).data('location'),
        location_info = 
            $(this).data('call_type_desc') + "</br>"
            + dispatch_address
            + "</br>Map Page: " + $(this).data('map_page');

        document.title=dispatch_address;
        $("#location_address").value=dispatch_address;

        tulsaGeocode(dispatch_address)
            .done(function(dsp_location){
                $.when(dispatchMarker(dsp_location,location_info),getHydrants(dsp_location))
                    .then(function(){
                        busy=false;
                        map.setZoom(16); 
                        $.mobile.changePage( $("#map_page"), { transition: "slide"});
                });
            });//end of done
    });//end of click

    // $("a.map-link").disableSelection;
    
    
};


//set up web worker to poll for new dispatches
    var newDispatch_worker = new Worker('{% static "tfdd_poll.js" %}');
    
    newDispatch_worker.onmessage = function (event) {
        $.mobile.loading( 'show', {
         text: 'Incoming Dispatch',
         textVisible: true,
        });
        
        $(dispatch_listview).prepend($("li.dispatch", event.data)).listview('refresh').trigger( "create" );                     
        init_map_links();

        setTimeout(function() {
            $.mobile.loading('hide');
            }, 1000);
            
        //reset the polling on new dispatch
        update_url=$(dispatch_listview.children()[0]).data("tf-update-url");
        // newDispatch_worker.postMessage(update_url);
        
    };

//end new dispatch event

//set up web worker to get more dispatches for a list
    var getMoreDispatches_worker = new Worker('{% static "scroll_request.js" %}');
    
    getMoreDispatches_worker.onmessage = function (event) {
        
        var more_dispatches=$("li.dispatch",event.data);
        if (more_dispatches.length>0){
            last_dispatch.attr("id", "xxx")     // this isn't last anymore
            $(".dispatch_listview",$.mobile.activePage).append(more_dispatches).listview('refresh').trigger("create");
            init_map_links();
            last_dispatch=$("#last_dispatch", $.mobile.activePage); // reset the new last dispatch
        } else {
            $("#list_end",$.mobile.activePage).text("");
        }                

    
    };    
  
   $(window).on('scrollstop', function() {
        PositionCheck();
   });   
 //end scroll_request event

    
   $("body").on('pagechange',function (){
       init_map_links();       
   });

    $(".dispatch_page").on('pagebeforeshow', function() {
        
        $("abbr.timeago").timeago();
        
        dispatch_listview = $(".dispatch_listview",this);

        //start web worker polling
        update_url=$(dispatch_listview.children()[0]).data("tf-update-url");
        // newDispatch_worker.postMessage(update_url);

        last_dispatch = $("#last_dispatch", this);
        if (last_dispatch) {
            last_li = $("#list_end", this);
        }

    });


    $("#map_page").on('pageshow', function() {    
        
        $.when(google.maps.event.trigger(map, 'resize'))
        .done(function(){
            map.setCenter(currentLocation);           
            })
        .done(function(){
            google.maps.event.addListener(map, 'center_changed', function() {
                    getHydrants(map.getCenter());
            });
        }); 
    });
    
    $("#map_page").on('pagehide', function(event,ui) {
        //stop listening for map center changes
        google.maps.event.clearListeners(map, 'center_changed');
        //remove the dispatch marker
        if(dispatch_marker!=null){
            dispatch_marker.setMap(null);
        }
        //remove hydrant markers 
        for  (marker in hydrant_markers){
            hydrant_markers[marker].setMap(null);
        }
        hydrant_markers=[];        
    });
    
</script>    
{% endif %}

</body>
</html>{% endspaceless %}
