<!DOCTYPE html> 
<html>
    <head>
    {% load static from staticfiles %}  

    <link rel="stylesheet" href="{% static "themes/tfdd_snips.css" %}" />    
  
    </head>
    <body>
        <div data-role="page" id="dispatch_location">
            <div data-theme="c" data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
                <div class="location_address">
                    {{location_address}}
                </div>

            </div><!-- end of header -->
        <div class="static_map" data-role="content">

                <img  src="http://maps.googleapis.com/maps/api/staticmap?%20&amp;zoom=14&amp;size=300x300&amp;sensor=false&amp;markers=color:red|{{location_address}},Tulsa,OK|"></img>

        </div><!-- end of content  -->
        <a href=" http://maps.google.com/maps?q={{location_address}},Tulsa,OK&z=18%20&t=h"
        data-role="button"
        data-icon="arrow-r" 
        data-iconpos="right" 
        data-inline="true"
        data-ajax="false"
        >Goto Google Maps</a>

<!-- http://maps.google.com/maps?%20&q=3010%20S%20HARVARD%20AVE,Tulsa,OK%20&z=18%20&t=k -->

        <!-- end of page -->
    </body>
</html>