
<ul class="dispatch_listview"
    id="dispatch_listview"
    data-role="listview" 
    data-inset="true" 
    >
{% for dispatch in dispatches %}
    <li class="dispatch"
        {% if forloop.first %}
            data-tf-update-url="{% url check_for_update dispatch.tf dispatch_filter %}"
        {% endif %}

        {% if forloop.last %}
            id="last_dispatch"
            data-tf-more-url="{% url dispatch_list dispatch.tf 10 dispatch_filter %}"        
        {% endif %}
        >
        <a href="#map_page"
            class="dispatch-link"
            data-transition="slide"
            data-location="{{dispatch.location}}"
            data-call_type_desc="{{dispatch.call_type_desc}}"
            data-map_page="{{dispatch.map_page}}"
            >
                <bold >{{dispatch.call_type_desc}}</bold>
                <p style="font-style:italic;float:right;margin-top:1%;margin-right:0%;height:5%"> 
                <abbr class="timeago" title="{{ dispatch.dispatched|date:"c" }}">{{dispatch.dispatched}}</abbr>&nbsp;
                {% if user.is_authenticated  %}           

        	    <p style="margin-top:1%;">{{dispatch.location}}</p>

                {% else%}

                    {# TODO: add permission for medical call types #}
                    {% if dispatch.call_type not in dispatch.MEDICAL_CALL_TYPES or user.is_superuser %}
                        
                        <p style="margin-top:1%;">{{dispatch.location}}</p>
                    {% else %}
                    <p>&nbsp;</p>
                    {% endif %}

                {% endif %}

            	<div>
                    <p style="font-style:oblique;padding-top:0%;">
                        {% if not user.is_authenticated  %} </br>{% endif %}
                        Map Page: {{dispatch.map_page}}&nbsp; &nbsp;     
                        Dispatch #{{ dispatch.tf|make_list|slice:":4"|join:"" }}:{{ dispatch.tf|make_list|slice:"5:10"|join:"" }}
                    </p>        	    
            	</div>
            
        </a>
            <div class="ui-grid-solo" style="margin-left:4%;" 
                 >
                <p style="font-variant: small-caps;">Unit{{dispatch.units.count|pluralize}} Dispatched:</p>
                <div class="unit_list" 
                        data-role="controlgroup"
                        data-type="horizontal"
                        data-inline="true"
                        data-mini="true"
                        
                    >
                    {% for unit in dispatch.units.all %}
                        <a href="{% url unit_detail unit.id %}"
                            data-role="button"
                            data-transition="slide"
                            style="height:25px;width:50px;overflow:hidden;"
                        >{{unit.id}}</a>
                    {% endfor %}
                </div>

            </div>
                
        </li><!-- end of dispatch li -->    
{% endfor %}

</ul>
{% if user.is_authenticated %}
<p id="list_end" class"list_end">Getting more dispatches...</p>
{% endif %}