{% if user.is_authenticated %}
    <script>  
        $(document).bind('pageinit',function() {
            
            var last_dispatch=$('#last_dispatch'),
                scrollHappens=false;
                gettingMore=false;
                last_li=$("#list_end"),
                distance_to_bottom = ($(window).scrollTop() + $(window).height()) - last_li.offset().top;
 
            $(window).scroll(function(event) {               
                 scrollHappens=true;
            });
            
            function CheckLater(){
                setTimeout(function() {CheckBottom();}, 500);
            }
            
            function GetMore() {
                $.ajax({
                    url: last_dispatch.data("tf-more-url"),
                    success: function(data) {
                        last_dispatch.attr("id", "xxx")     // this isn't last anymore                        
                        $("#dispatch_listview").append($("li", data)).listview('refresh').trigger("create");
                        last_dispatch = $('#last_dispatch'); // reset the new last dispatch
                        CheckLater();
                        
                    },
                    error: function(){CheckLater();}
                })
                gettingMore=false;

            };
                            
            function CheckBottom() {
                
                if (scrollHappens){
                    scrollHappens=false;
                    
                    distance_to_bottom = ($(window).scrollTop() + $(window).height()) - last_li.offset().top;
                    if (distance_to_bottom > -500 && !gettingMore) 
                        {
                            gettingMore=true;
                            GetMore();}
                    else {                        
                        CheckLater();
                    }
                } else{
                    
                    CheckLater();
                }
            };
            CheckLater();           
        });//end of page init
    </script>
{% endif %}

<ul class="dispatch_listview"
    id="dispatch_listview"
    data-role="listview" 
    data-inset="true" 
    >
{% for dispatch in dispatches %}
    <li class="dispatch"
        {% if forloop.last %}
        id="last_dispatch"
        {% endif %}
        data-tf-update-url="{% url check_for_update dispatch.tf dispatch_filter %}"
        data-tf-more-url="{% url dispatch_list dispatch.tf 4 dispatch_filter %}"
        data-tfdd-tf="{{dispatch.tf}}" >
            
    
        <h2>{{dispatch.call_type_desc}}</h2>

        {% if user.is_authenticated  %}
            <div>
                <a href="{% url dispatch_location dispatch.location %}"
                data-role="button"
                data-icon="search" 
                data-iconpos="right" 
                data-inline="true"
                data-transition="slide"
                >{{dispatch.location}}</a>
            </div>
            
        {% else%}

            {# TODO: add permission for medical call types #}
            {% if dispatch.call_type not in dispatch.MEDICAL_CALL_TYPES or user.is_superuser %}
                <h3>{{dispatch.location}}</h3>
            {% endif %}

        {% endif %}

        <h3>Map Page: {{dispatch.map_page}}</h3>
        <h3>Unit{{ dispatch.units.count|pluralize }} dispatched:</h3>   
            <div class="unit_list" 
                data-role="controlgroup"
                data-corners="false" 
                data-type="horizontal">
                
            {% for unit in dispatch.units.all %}
                <a href="{% url unit_detail unit.id %}"
                    class="unit_button"
                    data-role="button" 
                    data-inline="true" 
                    data-mini="true"
                    data-transition="slide"
                >{{unit.id}}</a>

            {% endfor %}
            </div>    
        <p>{{ dispatch.tf|make_list|slice:":4"|join:"" }}:
            {{ dispatch.tf|make_list|slice:"5:10"|join:"" }}</p>
        <p>{{dispatch.dispatched}}</p>

    </li>
{% endfor %}

</ul>
{% if user.is_authenticated %}
<p id="list_end" class"list_end">Getting more dispatches...</p>
{% endif %}