<!DOCTYPE html> 
<html>
    <head>
    {% load static from staticfiles %}  

    <link rel="stylesheet" href="{% static "themes/tfdd_snips.css" %}" />    
  
    </head>
    <body>
        <div data-role="page" id="dispatch_location">
            <div data-theme="c" data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
                <div class="location_address">
                    {{location_address}}
                </div>

            </div><!-- end of header -->
        <div class="static_map" data-role="content">

                <img  src="http://maps.googleapis.com/maps/api/staticmap?%20&amp;zoom=14&amp;size=300x300&amp;sensor=false&amp;markers=color:red|{{location_address}},Tulsa,OK|"></img>

        </div><!-- end of content  -->
        <a href=" http://maps.google.com/maps?t=h&z=14&q={{location_address}},Tulsa,OK"
        data-role="button"
        data-icon="arrow-r" 
        data-iconpos="right" 
        data-inline="true"
        data-ajax="false"
        >Go to Google Maps</a>

        <!-- end of page -->
    </body>
</html>