{% extends 'base.html' %}
{% block content %}
<ul data-role="listview" data-inset="true" >
{% for dispatch in dispatches %}
    <li>
        <h2>{{dispatch.call_type_desc}}</h2>
        <h3>{{dispatch.location}}</h3>
        <h3>Map Page: {{dispatch.map_page}}</h3>
        <h3>Unit:
        {% for unit in dispatch.units.all %}
            {{unit.id}}&nbsp;
        {% endfor %}</h3>
        
        <p>{{dispatch.dispatched}}</p>
               
    </li>
{% endfor %}
</ul>
{% endblock content %}
