{% extends 'base.html' %}
{% block content %}
<div data-role="content">
    <p><i>Your current settings</i></p>
    {% if errors %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" action="./" data-ajax="false">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Update">
    </form>

    <br>

        <div class="ui-grid-solo">
        	<div class="ui-block-a">
        	    <a href="/dispatches/logout" 
        	        data-role="button" 
        	        data-icon="delete"
        	        data-theme="b"
        	        >Log out</a> 
        	</div>
        </div>
</div>
{% endblock content %}
