<!DOCTYPE html> 
<html>
<head>

{% include "resources.html"%}
    
</head>


<body>
    <div class="dispatch_page" data-role="page" id="about">
        <div data-theme="c" data-role="header">
            <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
        </div>
        <div data-role="content">
            <p><i>You can follow units by text or email</i></p>
        <form>
            <ul id="unit_list" data-role="listview" data-filter="true" > 
            {% for unit in units %}
                <li  data-filtertext="{{unit.id}}">
                    <legend>
    
                        {{unit.id}}
    
                    </legend>   
        
                    <div data-role="fieldcontain" >
                        <fieldset data-role="controlgroup" data-type="horizontal">
                
                     	   <label for="by_phone">Send Text</label><input type="checkbox" 
                    	   data-state-urls='{"true":"{% url follow_unit unit.id 'by_phone' 'on' %}","false":"{% url follow_unit unit.id 'by_phone' 'off' %}"}'
                    	   {% if unit.by_phone %} checked {% endif %}
                    	   name="by_phone" id="by_phone" class="custom" data-mini="true"/>

                    	   <label for="by_email">Send Email</label><input type="checkbox" 
                    	   data-state-urls='{"true":"{% url follow_unit unit.id 'by_email' 'on' %}","false":"{% url follow_unit unit.id 'by_email' 'off' %}"}'
                           {% if unit.by_email %} checked {% endif %}
                    	   name="by_email" id="by_email" class="custom" data-mini="true"/>
    	   
    	   
                        </fieldset>
                    </div>
                </li>

        {% endfor %}
            </ul>
        </form>
    </content>

    <script>

        $("input[type='checkbox']").bind("change", function( event ) { 
            var urls = $(this).data('state-urls');
            var state = this.checked;
            $.ajax({url: urls[state]});
        });

        //  This is the list filter
        $("#unit_list").listview('option', 'filterCallback',
            function( text, searchValue, item ){
                return !RegExp(searchValue, "g").test(text.toString().toLowerCase());
            });

    </script>

</body>