{% extends 'base.html' %}
{% block title %}Select a unit{% endblock %}
{% block content %}

<script>
    $(document).bind('pageinit',function() {
        $('select[name*="flip-min"]').on( 'slidestop', function( event ) { 
            var urls = $(this).data('state-urls');
            var state = this.value;
            $.ajax({url: urls[state]});
        });
    });
    // url(r'^follow/(?P<unit_id>.*)/(?P<channel>.*)/(?P<state>.*)/$', 'follow_unit',
    //     name='follow_unit'),
    // assert channel in ['by_phone', 'by_email']
    // assert state in ['on', 'off']
    
    
</script>
<p>
    Units:
</p>
<div data-role="collapsible-set">
{% for unit in units %}
    <div data-role="collapsible" >
        <h1> {{unit.id}}</h1>

        <div class="containing-element">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="flip-min">Send Text</label> 
                    <select data-state-urls='{"on":"{% url follow_unit unit.id 'by_phone' 'on' %}","off":"{% url follow_unit unit.id 'by_phone' 'off' %}"}'
                    
                    name="flip-min" id="flip-min" data-role="slider">
                        <option value="off"{% if not unit.by_phone %} selected{% endif %}>Off</option>
                        <option value="on"{% if unit.by_phone %} selected{% endif %}>On</option>
                    </select>
                </div>
                <div class="ui-block-b">
                    <label for="flip-min">Send Email</label> 
                    
                    <select data-state-urls='{"on":"{% url follow_unit unit.id 'by_email' 'on' %}","off":"{% url follow_unit unit.id 'by_email' 'off' %}"}'
                    name="flip-min" id="flip-min" data-role="slider">
                        <option value="off"{% if not unit.by_email %} selected{% endif %}>Off</option>
                        <option value="on"{% if unit.by_email %} selected{% endif %}>On</option>
                    </select>
                </div>
            </div><!-- /grid-a -->
        </div>
    </div>
{% endfor %}
{% endblock content %}
