<!DOCTYPE html> 
<html>
<head>

{% include "resources.html"%}
    
</head>
<body>

    <div data-role="page" id="about">
        <div data-theme="c" data-role="header">
            <h3 class="tfdd_img">
                {{unit_id}} dispatches
            </h3>
            <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
        </div>
        <div data-role="content">

        {% if user.is_staff %}
            <legend>Followers of this unit</legend>
            <ul  data-role="listview" data-inset="true" >
            {% for follower in followers %}
                <li>
                    <p>{{follower.user}}</p>
                </li>

            {% endfor %}
            </ul>
        {% endif  %}
        <legend>Recent dispatches</legend>
        {% include "dispatch_list.html" %}
     </div>      <!-- end of content  -->
     </div><!-- end of page -->
</body>
</html>