Django==1.4.1
South==0.7.6
Werkzeug==0.8.3
django-email-as-username==1.6.2
django-extensions==0.9
ipython==0.13
pyserial==2.6
twilio==3.4.1
wsgiref==0.1.2
requests==0.14.2
ipdb
ipdbplugin
python-dateutil==2.1
mox==0.5.3
django-nose==1.1
git+git://github.com/ConsumerAffairs/django-whatever.git@master#egg=django-whatever
