 
.tfdd_logo{
	float: left;
	margin-left: 1%;
}

.tfdd_about{
	float: right;
	margin-right: 1%;
}
​
.list_end{
    list-style:none;
    float:left;
    margin-left:40%;
}

.location_address{
    float:right;
    margin-top:2%;
    margin-right:10%;
}

.static_map{
    width:300px;   
}
 
#map_page {
    width: 100%;
    height: 100%;
}

#map_content {
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map_canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    text-shadow: none;
    margin-top:0%;

}
