.tfdd_logo{
	float: left;
	margin-left: 1%;
}
.tfdd_about{
	float: right;
	margin-right: 1%;
}
​

.polling_message{
  margin-left: 25%;           
 }


.view_port{
    background-color:black; 
    height:25px;
    width:100%;
        
}

.cylon_eye {

    background-color: red;
    height: 100%;
    width:60px;

    background-image:-webkit-linear-gradient(left, 
        rgba(0,0,0,0.9) 15px, 
        rgba(0,0,0,0.1) 30px, 
        rgba(0,0,0,0.9) 45px);
    
    -webkit-animation-duration: 3s;
    -webkit-animation-name:move_eye;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear

}

@-webkit-keyframes move_eye {
    from {margin-left:-15%;}    
      to {margin-left:100%;}  
}
