.tfdd_logo{
	float: left;
	margin-left: 1%;
}

.tfdd_about{
	float: right;
	margin-right: 1%;
}
​

.list_end{
    list-style:none;
    float:left;
    margin-left:40%;
}

.location_address{
    float:right;
    margin-top:2%;
    margin-right:10%;
}

.static_map{
    width:300px;   
}

 
