{% spaceless %}<!DOCTYPE html> 
<html> 
<head> 
	<title>Following {{unit }}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head> 
<body> 
    <div data-role="page">
        <div data-role="header">
            <h1>You are about to follow {{unit}}</h1>
        </div>
        <div data-role="content">	
            <form action="" method="post" data-ajax="false">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</body>
</html>{% endspaceless %}
