{% spaceless %}<!DOCTYPE html> 
<html> 
<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head> 
<body> 
    <div data-role="page">
        <div data-role="header">
            <h1>Tulsa Fire Dept. Dispatches</h1>
        </div>
        <div data-role="content">	
            <ul data-role="listview" data-inset="true" data-filter="true">
            {% for dispatch in dispatches %}
                <li>
                    <h3>{{dispatch.call_type_desc}}</h3>
                    <p><strong>Location:</strong> {{dispatch.location}}</p>
                    <p><strong>MP:</strong> {{dispatch.map_page}}</p>
                    <p><strong>Dispatched:</strong> {{dispatch.dispatched}}</p>
                    <p>Units:</p>
                    {% for unit in dispatch.units.all %}
                            <p>
                            <a href='{% url follow_unit unit=unit.id %}' data-role="button" data-icon="star">Follow {{unit.id}}</a>
                        
                            </p>
                    
                    {% endfor %}
                </li>

            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>{% endspaceless %}
