{% spaceless %}<!DOCTYPE html> 
<html> 
<head> 
	<title>Tulsa Fire Dept. Dispatches</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>


</head> 
<body> 
    <div data-role="page">
        <div data-role="header">
            <h1>Tulsa Fire Dept</h1>
            	<div data-role="navbar">
            		<ul>
            			<li><a href="/dispatches/">All Dispatches</a></li>
            			<li><a href="#">Following</a></li>
            			<li><a href="#">Settings</a></li>
            		</ul>
            	</div><!-- /navbar -->

        </div>
        <div data-role="content">	
            <ul data-role="listview" data-inset="true" data-filter="true">
            {% for dispatch in dispatches %}
                <li>
                    <h3>{{dispatch.call_type_desc}} AT: {{dispatch.location}}</h3>
                    <p><strong>Map Page:</strong> {{dispatch.map_page}}</p>
                    <p><strong>Dispatched:</strong> {{dispatch.dispatched}}</p>
                    <p>Units:</p>
                    {% for unit in dispatch.units.all %}
                        {{unit.id}}&nbsp;
                        {#<a href='{% url follow_unit unit_id=unit.id %}' data-role="button" data-icon="star">Follow {{unit.id}}</a> #}
                    {% endfor %}
                </li>

            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>{% endspaceless %}
