<!DOCTYPE html> 
<html> 

<head> 
	<title>Select Unit</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

<script>
    $(document).bind('pageinit',function() {
        
        $('select[name*="flip-min"]').on( 'slidestop', function( event ) { 
            
            console.log (event);
            console.log(this);
    
        });
    });

</script>
    
</head>
 
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>
                Select a unit
            </h1>
        </div>
        <div data-role="content">
            <p>
                Units:
            </p>
            <div data-role="collapsible-set">
            {% for unit in units %}
                <div data-role="collapsible" >
                    <h1> {{unit.id}}</h1>

                    <div class="containing-element">
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <label for="flip-min">Send Text</label> 
                                <select send_text="{{unit.id}}" name="flip-min" id="flip-min" data-role="slider">
                                    <option value="off"{% if not unit.by_phone %} selected{% endif %}>Off</option>
                                    <option value="on"{% if unit.by_phone %} selected{% endif %}>On</option>
                                </select>
                            </div>
                            <div class="ui-block-b">
                                <label for="flip-min">Send Email</label> 
                                <select send_email="{{unit.id}}" name="flip-min" id="flip-min" data-role="slider">
                                    <option value="off"{% if not unit.by_email %} selected{% endif %}>Off</option>
                                    <option value="on"{% if unit.by_email %} selected{% endif %}>On</option>
                                </select>
                            </div>
                        </div><!-- /grid-a -->
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
